    .linkList {
        color: #006ec4;
        text-decoration: none;
        font-family: Verdana;
        font-weight: bold;
        font-size: 11.5px;
        line-height: 22px;
    }

    .optiontable, .optiontable TD, #tmn_logs_container table
    {
        font-family:Helvetica;
        font-size: 11px;
    }
    
    table td{
        padding:0;
    }
    table {
        table-layout: fixed;
        /*word-break: break-all;*/
    }
    table, tr, td{
        overflow:hidden;
    }

    #whiteSpace {
        position:absolute;
        top:15%;
        left:0;
        width:30px;
        height:85%;
        background-color: white;
    }

    a:link, a:visited {
        color: #006ec4;
        text-decoration: none;
        font-family: Helvetica;
        font-weight: bold;
        font-size: 10px;
    }
    
    a:link.linkperso {
        color: #413F3F;
        text-decoration: none;
        font-family: Helvetica;
        font-size: 10px;
    }
    
    .linkperso:visited {
        color: #413F3F;
        text-decoration: none;
        font-family: Helvetica;
        font-size: 10px;
    }
    .smLink {
        color: #006ec4;
        text-decoration: none;
        font-family: Verdana;
        font-size: 10px;
        font-weight: bold;
    }
    .lgLink {
        color: #006ec4;
        text-decoration: none;
        font-family: Helvetica;
        font-size: 13px;
        font-weight: bold;
    }
	
	.smallbutton {
        background: #4B6DCD;
        width: 15px;
        padding:1px 0;
        border:1px solid #608925;
        font-size: 11px;
        text-align:center;
        color:#E6EAE2;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        opacity:.85;
    }
    
    
    A:hover {
        color: #ED762F;
        text-decoration: none;
    }
    
    table.optiontable {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    #tmn-table-header{
        padding:1px 0;
        border:1px solid #608925;

        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius:2px;
        text-decoration: none;
      }

    #tmn_logs_container {
        width:760px; 
        overflow-y: scroll;
        overflow-x: hidden; 
        height: 100%;
        margin:20px;
        visibility:hidden;
        background-color: #F0F0F0;
        border:1px solid #608925;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    #tmn_logs_container table {
        width:740px;
        margin:0;  
        padding: 20px 0;
        line-height: 1.2em;
    }
     #tmn_logs_container table#queries td {
        padding-left:20px;
        width:500px;
     }

    #wrapper, #wrapper > table{
        height:100vh;
        float:left;
    }

    button, button:visited {
        display:block;
        background: #4B6DCD;
        width: 90px;
        padding:1px 0;
        border:1px solid #608925;
        font-size: 11px;
        text-align:center;
        color:#E6EAE2;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        text-decoration: none;
        opacity:.85;
      }
      
      button:hover {
        border-color:#ED762F;
      }
      
      button:active {
        padding:2px 0 ;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
      }
/* 	.rounded-button {
	  width: 40px;
	  height: 40px;
	  background: ##4B6DCD;
	  color: #ffffff;
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;
	  cursor: pointer;
	  border-radius: 50%;
	  border: none;
	  text-decoration: none;
	  transition: background 0.2s;
	}

	.rounded-button:hover {
	  background: #ED762F
		  ;
	} */

	.rounded-button {
	  width: 25px;
	  height: 25px;
	  background: #4B6DCD;
	  color: #ffffff;
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;
	  cursor: pointer;
	  border-radius: 50%;
	  border: none;
	  text-decoration: none;
	  transition: background 0.2s;
	}

	.rounded-button:hover {
	  background: #ED762F;
	}

	hr { 
		display: block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 3px;
	} 
/* 	#onhover_queriesinfo{
    	visibility: hidden;
	}
	#queries_info:hover ~ #onhoverfb{
	    visibility: visible;
	} */
	.hide {
	  display: none;
	}

	.myDIV:hover + .hide {
	  display: block;
	  color: #ED762F;
	}
    
    DIV.block {text-align:justify}

/*  */

/* The switch - the box around the slider */
.switch {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 44px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  right: 28px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #4B6DCD;
}

input:focus + .slider {
  box-shadow: 0 0 5px #4B6DCD;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*  */


/*hover text boxes */
#passinfo {
  height: 20px;
  width: 20px;
  margin-left: 130px;
  margin-top: -20px;
  margin-bottom: 15px;
  padding: -20px;
  position: absolute;
  display: block;
}

#infotext {
  background-color: #5DA8D7;
  border-radius: 5px;
  color: #FFFFFF;
/* 	  rgba(34, 34, 34, 0.829); */
  padding: 5px 4px 4px 4px;
  position: relative;
  box-shadow: 0px 1px 5px #999;
  opacity: 0;
  margin-left: 100px;
  right: 10px;
  position: absolute;
  transition: .5s ease;
}

#passinfo:hover + #infotext {
  opacity: 1;
  visibility: visible;
}

/* icon alignment */
.flex-row {
  display: flex;
}
